.qmake.stash
Makefile
*.o
libsimExtPovRay.1.0.0.dylib
libsimExtPovRay.1.0.dylib
libsimExtPovRay.1.dylib
libsimExtPovRay.dylib
libsimExtPovRay.so
libsimExtPovRay.so.1
libsimExtPovRay.so.1.0
libsimExtPovRay.so.1.0.0
Makefile.Debug
Makefile.Release
object_script.*.Debug
object_script.*.Release
debug/
release/
*.user*
.DS_Store

