.qmake.stash
Makefile
*.o
libsimPovRay.1.0.0.dylib
libsimPovRay.1.0.dylib
libsimPovRay.1.dylib
/libsimPovRay.so
libsimPovRay.so.1
libsimPovRay.so.1.0
libsimPovRay.so.1.0.0
Makefile.Debug
Makefile.Release
object_script.*.Debug
object_script.*.Release
debug/
release/
*.user*
.DS_Store

